html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 62.5%; /* 1rem=10px */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    
}

@media all and (min-width: 1024px) {
    body {
        margin: 0 10%;    
    }

    aside {
        width: 6rem;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 1.1rem;
}

img {
    width: 200px;
}

ul {
    margin: 0 0.3rem 0 0.3rem;
    padding: 0;
}

.courses_list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses_list li p {
    flex: 0 0 25%;
}

.courses_list li:nth-child(even) {
    /* background-color: #fff; */
    background-color: #f2f2f2;

}

.content {
    height: 100%;
    width: 100%;
    /* margin: 1.5rem; */

}

.header_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    margin-left: 3rem;
}

.header_description p:first-child {
    font-weight: 800;
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

.header {
    background-color: #03BAE4;
    color: white;
    display: flex;
    padding: 1.5rem;

}

.header_description p {
    margin: .5rem;
}

aside {
    min-width: 3rem;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.courses_list {
    margin: 1rem .5rem;
    background-color: #fff;
    /* margin: 0 auto; */
}

button {
    background-color: #F37786;
    border-radius: 2rem;
    color: #fff;
    height: 2.9em;
    width: 9em;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    
}

footer {
    font-size: 1.1rem;
    background-color: #F37786;
    color: white;
    display: flex;
    justify-content: space-around;
    min-height: 5rem;

}

.left {
    flex-grow: 2;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 5;
}


