/* --- Logo ---- */
.NXVPg {
    margin: 22px auto 12px;
}
.Szr5J {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}
.coreSpriteLoggedOutWordmark, .coreSpriteMobileNavDirect {
    background-repeat: no-repeat;
    background-position: -98px -150px;
    height: 51px;
    width: 175px;
}

/* --- FB Login Button ---- */

/* class applied to form element */
.XFYOY {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Simplified custom Wrapper div of FB Button */

.fbb-container {
    margin: 8px 40px 8px 40px;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-content: stretch;

}

/* Styles for the button element */
._0mzm-, ._0mzm- * {
    outline: 0 !important;
}

.sqdOP {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:0 0;
    border:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    font-weight:600;
    padding:5px 9px;
    text-align:center;
    text-transform:inherit;
    text-overflow:ellipsis;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:nowrap;
    width:auto
   }
.sqdOP:active {
    opacity:.7
   }
.sqdOP[disabled] {
    pointer-events:none
   }
.sqdOP[disabled]:not(.A086a) {
    opacity:.3
   }
.L3NKy,a.L3NKy,a.L3NKy:visited {
    background-color:#3897f0;
    border:1px solid #3897f0;
    border-radius:4px;
    color:#fff;
    position:relative
   }
._4pI4F {
    width:100%
   }
.sH_mn,a.sH_mn,a.sH_mn:visited {
    background-color:transparent;
    border:1px solid #ed4956;
    color:#ed4956
   }
._8A5w5,a._8A5w5,a._8A5w5:visited {
    background-color:transparent;
    border:1px solid #dbdbdb;
    color:#262626
   }
.y1rQx,a.y1rQx,a.y1rQx:visited {
    background-color:transparent;
    border:1px solid #fff;
    color:#fff
   }
.cB_4K {
    padding:12px 18px
   }
.yWX7d.cB_4K,a.yWX7d.cB_4K {
    font-size:16px
   }
.yWX7d,.yWX7d:visited,a.yWX7d,a.yWX7d:visited {
    border:0;
    color:#3897f0;
    display:inline;
    padding:0
   }
.yWX7d.sH_mn,a.yWX7d.sH_mn,a.yWX7d.sH_mn:visited {
    color:#ed4956
   }
.yWX7d._8A5w5,a.yWX7d._8A5w5,a.yWX7d._8A5w5:visited {
    color:#262626
   }
.yWX7d.y1rQx,a.yWX7d.y1rQx,a.yWX7d.y1rQx:visited {
    color:#fff
   }
.ZIAjV {
    -webkit-user-select:auto;
    -moz-user-select:auto;
    -ms-user-select:auto;
    user-select:auto
   }
.A086a,.yWX7d.A086a {
    color:transparent
   }
   
/* Separator */

.K-1uj {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row
   }
.s311c {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-flex-shrink:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    background-color:#efefef;
    height:1px;
    position:relative;
    top:.45em
   }
._0tv-g {
    color:#999;
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    font-size:13px;
    font-weight:600;
    line-height:15px;
    margin:0 18px;
    text-transform:uppercase
   }

/* Styles for various elements,  */
.WZdjL {
 margin:0 40px 6px
}
.a5I1A {
 margin:0 40px 8px
}
.a5I1A input {
 font-size:12px
}
.hKTMS {
 margin:10px 40px 18px
}
.m6lg3,.vvzhL {
 color:#999;
 text-align:center
}
.vvzhL {
 font-weight:600;
 line-height:20px;
 font-size:17px;
 margin:0 40px 10px
}
.m6lg3 {
 font-size:14px;
 margin:0 40px 22px
}
.XFYOY {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column
}
.SQNOX {
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin:5px 0 auto
}
.cneKx {
 display:inline-block;
 margin-right:8px;
 position:relative;
 top:3px
}
@media (min-width:736px) {
 .cneKx {
  top:2px
 }
}
.P8adC {
 margin-bottom:20px
}
.g4Vm4,.nZl92 {
 color:#ed4956;
 font-size:14px;
 line-height:18px;
 margin:10px 40px;
 text-align:center
}
.g4Vm4 {
 color:#999;
 margin:10px 60px
}
.g4Vm4>a,.g4Vm4>a:visited {
 color:#999;
 font-weight:600
}
._5abUw {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:horizontal;
 -webkit-box-direction:normal;
 -webkit-flex-direction:row;
 -ms-flex-direction:row;
 flex-direction:row;
 margin-top:4px
}

._9GP1n {

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #efefef;

}

._2hvTZ,._9GP1n {
    background:#fafafa
   }
   ._9GP1n {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    border-radius:3px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#262626;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    font-size:14px;
    position:relative;
    -webkit-appearance:none;
    width:100%;
    border:1px solid #efefef
   }
   ._2hvTZ {
    border:0;
    -webkit-box-flex:1;
    -webkit-flex:1 0 0;
    -ms-flex:1 0 0;
    flex:1 0 0px;
    margin:0;
    outline:0;
    overflow:hidden;
    padding:9px 0 7px 8px;
    text-overflow:ellipsis
   }
   .i24fI {
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    height:100%;
    padding-right:8px;
    vertical-align:middle
   }
   .HlU5H {
    border:1px solid #b2b2b2
   }
   .qYTTt {
    border:1px solid #ed4956
   }
   .AaDgr {
    background-color:#efefef;
    color:#999
   }
   .gBp1f {
    margin-left:8px
   }
   .wpY4H {
    font-size:14px;
    margin-right:4px
   }
   .CIpxV {
    color:#ed4956;
    font-size:12px;
    margin:4px 0 8px 8px
   }

   .f0n8F {
    height:36px;
    -webkit-box-flex:1;
    -webkit-flex:1 0 0;
    -ms-flex:1 0 0;
    flex:1 0 0;
    padding:0;
    position:relative;
    margin:0;
    min-width:0
   }
   ._9nyy2 {
    color:#999;
    font-size:12px;
    height:36px;
    left:8px;
    line-height:36px;
    overflow:hidden;
    pointer-events:none;
    position:absolute;
    right:0;
    text-overflow:ellipsis;
    -webkit-transform-origin:left;
    transform-origin:left;
    -webkit-transition:-webkit-transform ease-out .1s;
    transition:transform ease-out .1s;
    transition:transform ease-out .1s,-webkit-transform ease-out .1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:nowrap
   }
   .f0n8F .pexuQ {
    font-size:16px
   }
   .FATdn ._9nyy2 {
    -webkit-transform:scale(.83333) translateY(-10px);
    transform:scale(.83333) translateY(-10px)
   }
   .FATdn .pexuQ {
    font-size:12px;
    padding:14px 0 2px 8px!important
   }

   
   
   