a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
   }
   body {
    line-height:1
   }
   ol,ul {
    list-style:none
   }
   blockquote,q {
    quotes:none
   }
   blockquote:after,blockquote:before,q:after,q:before {
    content:none
   }
   table {
    border-collapse:collapse;
    border-spacing:0
   }

body {
    overflow-y:scroll
   }
body:-webkit-full-screen {
height:100%;
width:100%
}
body:-moz-full-screen {
height:100%;
width:100%
}
body:-ms-fullscreen {
height:100%;
width:100%
}
body:fullscreen {
height:100%;
width:100%
}
html {
-webkit-text-size-adjust:100%
}
#react-root,body,html {
height:100%
}
#react-root {
z-index:0
}

#root {
    /* Layering, 0 is most in the back */
    z-index: 0; 
}

#root, article, div, footer, header, main, nav, section {
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

body, button, input, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#root, body, html {
    height: 100%;
}

section {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 0;
    position: relative;
}

main {
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 5;
    order: 4;
    background-color: #fafafa;
}

footer {

}

/* Copied from inspector and created by react, is used in different subcomponents in the right column */

.rgFsT {
    color: #262626;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    width: 100%;
}

.gr27e {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

@media(max-width:450px){
    .rgFsT {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 0;
        max-width: 100%;
    }

    .gr27e {
        background-color: transparent;
        border: 0;
    }
}

/* Make the phones dissappear if smaller than 875px */
@media(max-width: 875px){
    ._80tAB {
        display: none;
    }
}

/* Link styling of already have an account? */
.izU2O {
    color:#262626;
    font-size:14px;
    margin:15px;
    text-align:center
   }
.izU2O>a,.izU2O>a:active,.izU2O>a:hover,.izU2O>a:visited {
    color:#3897f0
   }

/* App store image classes */
.b_nGN {
    color:#262626;
    font-size:14px;
    line-height:18px;
    margin:10px 20px;
    text-align:center
   }
   .iNy2T {
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:10px 0
   }
   @media (max-width:400px) {
    .iNy2T {
     -webkit-flex-wrap:wrap;
     -ms-flex-wrap:wrap;
     flex-wrap:wrap
    }
   }
   .AYpZq {
    color:#3897f0;
    font-weight:600;
    margin-top:6px
   }

   .z1VUo {
    margin-right:8px
   }
   .z1VUo:last-child {
    margin-right:0
   }
   .Rt8TI {
    height:40px
   }

   /* Footer */

   
