._8Rna9 {

    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
    padding: 0 20px;

}
._3Laht, .o64aR {

    background-color: #fafafa;

}

.SkY6J, .VWk7Y {

    padding: 10px 0;
    text-align: center;

}
.iseBh {

    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;

}

.uxKLF {

}

.DINPA {
    color:#999
   }

.K5OFK {
    display:inline-block;
    margin-bottom:7px;
    margin-right:16px
   }
.K5OFK:last-child {
    margin-right:0
   }

   @media (min-width:876px) {
    .SkY6J,.VWk7Y {
     -webkit-box-orient:horizontal;
     -webkit-box-direction:normal;
     -webkit-flex-direction:row;
     -ms-flex-direction:row;
     flex-direction:row;
     -webkit-flex-wrap:wrap;
     -ms-flex-wrap:wrap;
     flex-wrap:wrap;
     -webkit-box-pack:justify;
     -webkit-justify-content:space-between;
     -ms-flex-pack:justify;
     justify-content:space-between;
     padding:38px 0
    }
    .SkY6J .uxKLF,.VWk7Y .uxKLF {
     max-width:100%
    }
    .SkY6J .ixdEe,.VWk7Y .ixdEe {
     margin-right:16px
    }
   }
   @media (max-width:875px) {
    .SkY6J,.VWk7Y {
     padding:10px 0;
     text-align:center
    }
    .SkY6J .ixdEe,.VWk7Y .ixdEe {
     -webkit-box-pack:center;
     -webkit-justify-content:center;
     -ms-flex-pack:center;
     justify-content:center;
     margin:0 auto;
     max-width:360px
    }
   }

   .S2wby {
    padding:10px 0;
    text-align:center
   }
   .S2wby .ixdEe {
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto;
    max-width:360px
   }
   .SkY6J {
    padding-top:0
   }
   .SkY6J .uxKLF {
    margin-bottom:16px
   }
   .SkY6J .K5OFK {
    margin:0
   }
   .SkY6J .K5OFK:not(:last-of-type)::after {
    content:"\00B7";
    margin:0 .25em
   }
   .SkY6J .DINPA,.SkY6J .K5OFK,.SkY6J .l93RR {
    color:#c7c7c7;
    font-size:11px;
    font-weight:400;
    line-height:13px;
    text-transform:capitalize
   }
   .SkY6J .DINPA {
    text-transform:uppercase
   }

   /* Link Style for footer links */

   footer a, footer a:visited {
    color: #003569;
    text-decoration: none;       
   }
