.container {
    background-color: white;
}


h1, h2, h3,h4 {
    padding-left: 16px;
    padding-top: 12px;
}

#player {
    /* border: 3px solid white; */
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 10px 5px 5px 10px;

}

#controls {
    margin-bottom: 10px;
    
}

#trackdiv {
    min-height: 300px;
    padding: 10px;
}

.table td {
    padding-left: 0.3rem;
}


/* Make icons bigger */
/* svg.feather {
    width: 48;
    height: 48;
} */