* {
    margin: 0 auto;
  }

  body, td, a, p {
    font-family: Arial, sans-serif;
  }
  /* main container  */
  div.ctr-p {
    min-width: 980px;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  header {
    font-size: 13px;
    margin-top: 17px;
  }

  header li {
    display: inline;
    list-style-type: none;
    padding: 5px; 
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  a.lang-link {
    color: #1a0dab;
  }

  .gb_xc {
background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
background-size: 528px 68px;
}

.gb_mb {
min-width: 255px;
padding-left: 30px;
padding-right: 30px;
position: relative;
text-align: right;
z-index: 986;
align-items: center;
justify-content: flex-end;
-moz-user-select: -moz-none;

}

.gb_b {
background-position: -132px -38px;
opacity: .55;
}
.gb_ad {
position: relative;
}

.right-float {
float: right;
}

.button {
display: block;
color: #fff;
cursor: default;
border: 1px solid #4285f4;
font-weight: bold;
outline: none;
background: -moz-linear-gradient(top,#4387fd,#4683ea);
padding: 0 12px;
border-radius: 2px;
line-height: 28px;
outline: none;
height: 30px;
width: 89px;
box-sizing: border-box;
}

#gws-output-pages-elements-homepage_additional_languages__als{font-size:small;margin-bottom:24px}
#SIvCob{display:inline-block;line-height:28px;}
#SIvCob a{padding:0 3px;}
.H6sW5{display:inline-block;margin:0 2px;white-space:nowrap}
.z4hgWe{display:inline-block;margin:0 2px}


.RNNXgb {
background: #fff;
display: flex;
border-radius: 2px;
border: none;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
z-index: 3;
height: 44px;
margin: 0 auto;
width: 484px;}

.SDkEP {
flex: 1;
display: flex;
padding: 5px 8px 0 16px;
}

.a4bIc {
display: flex;
flex: 1;
flex-wrap: wrap;
}

.vdLsw {
color: transparent;
flex: 100%;
white-space: pre;
}

.gsfi, .lst {
font: 16px arial,sans-serif;
line-height: normal;
line-height: 34px;
height: 34px !important;
}

.gLFyf {
background-color: transparent;
border: none;
margin: 0;
margin-top: 0px;
padding: 0;
color: rgba(0,0,0,.87);
word-wrap: break-word;
outline: none;
display: flex;
flex: 100%;
margin-top: -37px;
}

.VlcLAe {
height: 58px;
}

.FPdoLc {
padding-top: 18px;
top: 53px;
width: 487px;
z-index: 0;
}

.gLFyf{
  background-color:transparent;
  border:none;
  margin:0;
  padding:0;
  color:rgba(0,0,0,.87);
  word-wrap:break-word;
  outline:none;
  display:flex;
  flex:100%;
  tap-highlight-color:transparent;
  margin-top:-37px
}
.a4bIc{
  display:flex;
  flex:1;
  flex-wrap:wrap
}
.vdLsw{
  color:transparent;
  flex:100%;
  white-space:pre
}
.vdLsw span{
  background:url("/images/experiments/wavy-underline.png") repeat-x scroll 0 100% transparent;
  padding:0 0 10px 0
}

.dRYYxd{
  display:flex;
  flex:0 0 auto;
  margin-top:-5px;
  align-items:stretch;
  flex-direction:row
}

input[type="submit"] {
height: 36px;
line-height: 27px;
}

input[type="submit"], .sbdd_a input, .gbqfba {
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
-moz-border-radius: 2px;
-moz-user-select: none;
background-color: #f2f2f2;
border: 1px solid #f2f2f2;
border-radius: 2px;
color: #757575;
cursor: pointer;
font-family: arial,sans-serif;
font-size: 13px;
font-weight: bold;
margin: 11px 4px;
min-width: 54px;
padding: 0 16px;
text-align: center;
}

input[type="submit"]:focus, .sbdd_a input:focus {
border: 1px solid #4d90fe;
outline: none;
}

footer {
bottom: 0;
font-size: 10pt;
position: absolute;
width: 100%;
}

.fbar {
background: #f2f2f2;
border-top: 1px solid #e4e4e4;
line-height: 40px;
min-width: 980px;
width: 100%;
font-size: small;

}

.fbar-line {
text-align: left;
border-bottom: 1px solid #e4e4e4;
font-size: inherit;
line-height: 40px;
}

.fbar-content {
margin-left: 30px;
padding-right: 30px;
}

.footer span {
font-size: 15px;
}

footer a {
color: #5f6368;
margin: 0 !important;
display: inline-block;
padding-left: 27px;
}

footer span {
color: #5f6368;
}