

.container {   
    margin: 0 auto; 
    margin-top: 40px;
    padding: 10px;
    width: 700px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#canvas {
    border: 3px solid darkgray;
}

#controls {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    width: 100%;
}

button {
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
    width: 6em;
    height: 3em;
}