* {
    box-sizing: border-box;
}

/* 700 max,  */

html {
    font-size: 62.5%;
    width: 100%;
}

.too-small-info {
    display: none;
}

#content {
    background-color: #462920;
    width: 700px;
    height: 780px;
    
    padding: 40px;
}

.field-numbers {
    background-color: #7D6A4C;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-size: 1.3rem;
}

#board {
    display: grid;
    /* width: 100%; */
    /* height: 250px; */
    /* grid-template-areas: "fl fd fl fd"; */
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    justify-items: stretch;
    align-items: stretch;
    height: 620px;
    width: 620px;
  }

#board > div.field-light {
    /* grid-area: fl; */
    background-color: #b4915f;   

}

#board > div.field-dark {
    background-color: #441A02;
    /* grid-area: fd; */
    /* justify-self: stretch;
    align-self: stretch; */
    z-index: 100;
}


  


@media all and (max-width: 700px) {
    .too-small-info {
        display: block;
        margin: 0 auto;
    }

    main {
        display: none;
    }
}